# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Ignore my local site
sites/d7-commons.dev

# Ignore my komodo specific files
*.komodoproject
